
{% load static %}

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-4 shadow-sm">
                <h3 class="text-center mb-4">Password Reset Sent</h3>
                <p>
                    We've emailed you instructions for setting your password,
                    if an account exists with the email you entered. 
                    You should receive them shortly.</p>
                </p>

                <p>
                    If you don't receive and email, please make sure you've entered the address you registered with.
                </p>
            </div>
        </div>
    </div>
</div>